.nav-bar {
    display: flex;
    width: auto;
    height: 11vh;
    padding: 0 10vh;
    margin: 0 4vw;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.ntf-logo {
    height: 140%;
    width: 16%;
    align-self: flex-start;
    align-self: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.lang-select {
    background-color: transparent;
    color: white;
    height: 2.1em;
    min-width: 80px;
    width: 7vw;
    max-width: 120px;
    padding: 5px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-left: auto;
    align-content: center;
    justify-self: flex-end;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-signin {
    background-color: red;
    height: 2.2em;
    min-width: 60px;
    width: 6vw;
    max-width: 100px;
    color: white;
    font-size: 1em;
    font-weight: 550;
    margin-left: 10px;
    border: transparent;
    border-radius: 5px;
    align-self: center;
}