.signin-ui {
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.7) 100%), url('../Images/HomeImg/homebgimg.png') no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    width: 100%;
    height: 115vh;
}

.nav-bar {
    display: flex;
    width: auto;
    height: 11vh;
    padding: 0 10vh;
    margin: 0 4vw;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.ntf-logo {
    height: 110%;
    width: 16%;
    align-self: flex-start;
    align-self: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

.login_div>h1 {
    color: white;
    font-size: 3.5em;
    text-align: center;
    font-weight: 800;
    user-select: none;
    margin-bottom: 0.5em;
}

.sigin-panel-div {
    background-color: rgba(0, 0, 0, 0.732);
    border-radius: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sigin-panel-div>h4 {
    color: white;
    font-size: 2.1em;
    text-align: left;
    font-weight: 700;
    user-select: none;
}

.email-pass-ip {
    background-color: transparent;
    border: 1px solid rgb(130, 129, 129);
    border-radius: 5px;
}